* {
  box-sizing: border-box;
}

body {
  margin: 0;

  /* 壁紙 */
  background-image: url("./img/kimetsu_wp_2106_pc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans JP",
    sans-serif;
}

/* 真ん中に配置＋画面端の余白 */
.page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px;
}

/* 一覧の箱*/
.list-box {
  min-width: clamp(900px, 70vh, 1000px);
  min-height: clamp(420px, 70vh, 870px);
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.18);
}

.title {
  margin: 0 0 14px;
  text-align: center;
  font-size: 22px;
}

/* 縦3列 */
.row {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 12px;
  align-items: center;

  padding: 12px 10px;
  border-radius: 12px;
}

.row + .row {
  margin-top: 10px; /* 行間 */
}

/* ヘッダー行 */
.row.header {
  font-weight: 700;
  background: rgba(0, 0, 0, 0.06);
}

/* セル */
.cell {
  padding: 8px 10px;
  border-radius: 10px;
}

/* 画像セル内の画像 */
.thumb {
  width: 100%;
  max-width: 160px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.category-menu {
  margin-top: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
}

/* ローディング画面のCSS */
.loading {
  /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
  width: 100vw;
  height: 100vh;
  /*ローディング画面の表示位置を固定*/
  position: fixed;
  top: 0;
  left: 0;
  background: #1082ce;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*ローディング画面を非表示にする*/
.loading.loaded {
  opacity: 0;
  visibility: hidden;
}

.loading-text {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-left-color: #1082ce;
  /* アニメーションを1秒かけて実行 */
  animation: spinner-rotation 1s linear infinite;
}

/* アニメーションの設定 */
@keyframes spinner-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-text {
  color: #333;
}

/* スマホで崩れないように：縦積みに変更 */
@media (max-width: 700px) {
  .row {
    grid-template-columns: 1fr; /* 1列に */
  }

  .row.header {
    display: none;
  }

  .cell::before {
    display: block;
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 6px;
  }

  .row .cell:nth-child(1)::before {
    content: "名前";
  }
  .row .cell:nth-child(2)::before {
    content: "画像";
  }
  .row .cell:nth-child(3)::before {
    content: "カテゴリ";
  }
}
